//Primary colours

$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

//Secondary colours

$slate: #5c667e;
$cloud: #bdc5d5;

//Background colours

$light-grey: #f7f8f9;
$graphite: #232940;

//Supporting colours

$green: #158463;
$red: #c94515;



//Primary colours
$dark-teal: #0097b2;
$teal: #5ce9d2;
$light-teal: #d4f1f4;
$white: #ffffff;
$turquoise: #75e6d5;
$blue: #05445e;
$olive: #4a6a65;

//Secondary colours

$slate: #5c667e;
$cloud: #bdc5d5;

//Background colours

$light-grey: #f7f8f9;
$graphite: #232940;

//Supporting colours

$green-1: #158463;
$red: #c94515;