@import "../styles/partials/colours";
@import "../styles/partials/media-queries";
@import "../styles/partials/fonts";
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  
    .modal-content {
      background: white;
      padding: 2rem;
      border-radius: 8px;
      width: 300px;
  
      h3 {
        margin-top: 0;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input, select {
          margin-bottom: 1rem;
          padding: 0.5rem;
        }
  
        button {
          margin-top: 0.5rem;
          background-color: $blue;
          color: white;
        }
  
        .cancel {
          background: $light-teal;
          margin-top: 0.5rem;
          color: $osadia-black;
        }
      }
    }
  }
  